<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Diary</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<h1>Post Content</h1>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/view">View</a></li>
    <li><a href="/post">Post</a></li>
  </ul>
</nav>
<form method="post">
  <label for="title">Tile: </label>
  <input id="title" name="title" type="text" placeholder="Enter title">
  <label for="text">Text: </label>
  <input id="text" name="text" type="text" placeholder="Enter text">
  <button type="submit">submit</button>
</form>
</body>
</html>