<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diary</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<h1>Register</h1>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/reg">Register</a></li>
  </ul>
</nav>
<form method="post">
    <label for="user">Username:</label>
    <input id="user" name="user" type="text" placeholder="Enter username">
    <label for="pass">Password:</label>
    <input id="pass" name="pass" type="text" placeholder="Enter password">
    <button type="submit">submit</button>
</form>
</body>
</html>